AccessModifierOffset: -4
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Allman
BreakBeforeConceptDeclarations: Never
BreakConstructorInitializers: AfterColon
BreakTemplateDeclarations: No
BraceWrapping:
  BeforeWhile: true
Cpp11BracedListStyle: false
ColumnLimit: 0
FixNamespaceComments: false
IndentWidth: 4
LambdaBodyIndentation: OuterScope
LineEnding: LF
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterIfMacros: false
  AfterPlacementOperator: false
UseTab: Never
