<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>./</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pokerbuddy</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tbfile</string>
			<key>CFBundleTypeName</key>
			<string>Poker Buddy Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.hdnastudio.Poker-Buddy.pokerbuddy</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TBMacDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 HDna Studio. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>TBMac</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSans-Bold.otf</string>
		<string>IBMPlexSans-Regular.otf</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tournament Buddy Configuration UTI</string>
			<key>UTTypeIconFile</key>
			<string>tbfile</string>
			<key>UTTypeIdentifier</key>
			<string>com.hdnastudio.Poker-Buddy.pokerbuddy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pokerbuddy</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_pokerbuddy._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Allow others to view and manage tournaments on your local network.</string>
</dict>
</plist>
